java/sdk/purview/azure-analytics-purview-workflow/src/test/resources/session-records/WorkflowCreateOrUpdateTests.testWorkflowCreateOrUpdateTests.json
{
  "Entries": [
    {
      "RequestUri": "https://REDACTED/workflow/workflows/4afb5752-e47f-43a1-8ba7-c696bf8d2745?api-version=2022-05-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Accept": "application/json",
        "Authorization": "Sanitized",
        "Content-Length": "1363",
        "Content-Type": "application/json",
        "Date": "Thu, 20 Jul 2023 19:16:33 GMT",
        "User-Agent": "azsdk-java-azure-analytics-purview-workflow/1.0.0-beta.2 (17.0.7; Windows 11; 10.0)",
        "x-ms-client-request-id": "49ef3eb5-a38c-4984-b766-123c155303c9"
      },
      "RequestBody": {
        "name": "Create glossary term workflow",
        "description": "",
        "triggers": [
          {
            "type": "when_term_creation_is_requested",
            "underGlossaryHierarchy": "/glossaries/20031e20-b4df-4a66-a61d-1b0716f3fa48"
          }
        ],
        "isEnabled": true,
        "actionDag": {
          "actions": {
            "Startandwaitforanapproval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "ApprovalRequestforCreateGlossaryTerm",
                  "assignedTo": [
                    "eece94d9-0619-4669-bb8a-d6ecec5220bc"
                  ]
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs(\u0027Startandwaitforanapproval\u0027)[\u0027body/outcome\u0027]",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Createglossaryterm": {
                  "type": "CreateTerm",
                  "runAfter": {}
                },
                "Sendemailnotification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "GlossaryTermCreate-APPROVED",
                      "emailMessage": "YourrequestforGlossaryTerm@{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]}isapproved.",
                      "emailRecipients": [
                        "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Createglossaryterm": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Sendrejectemailnotification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "GlossaryTermCreate-REJECTED",
                        "emailMessage": "YourrequestforGlossaryTerm@{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]}isrejected.",
                        "emailRecipients": [
                          "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                        ]
                      }
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Startandwaitforanapproval": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Length": "1856",
        "Content-Type": "application/json",
        "Date": "Thu, 20 Jul 2023 19:16:33 GMT",
        "Server": "MicrosoftPurview",
        "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
        "x-ms-client-request-id": "49ef3eb5-a38c-4984-b766-123c155303c9",
        "x-ms-correlation-request-id": "13f8e678-f89f-457c-8eeb-46260737c8a8",
        "x-ms-purview-workflow-version": "1.0.0238210-workflow_official-58f675ab",
        "x-ms-request-id": "65ba97fc-131a-4b54-b3e9-86cd1cfb2500"
      },
      "ResponseBody": {
        "id": "4afb5752-e47f-43a1-8ba7-c696bf8d2745",
        "type": "UserManaged",
        "triggers": [
          {
            "type": "when_term_creation_is_requested",
            "underGlossaryHierarchy": "/glossaries/20031e20-b4df-4a66-a61d-1b0716f3fa48"
          }
        ],
        "createdTime": "2023-07-20T16:52:33.939358553Z",
        "createdBy": "00000000-0000-0000-0000-000000000000",
        "lastUpdateTime": "2023-07-20T19:16:33.903898433Z",
        "updatedBy": "00000000-0000-0000-0000-000000000000",
        "name": "Create glossary term workflow",
        "isEnabled": true,
        "description": "",
        "actionDag": {
          "actions": {
            "Startandwaitforanapproval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "ApprovalRequestforCreateGlossaryTerm",
                  "assignedTo": [
                    "eece94d9-0619-4669-bb8a-d6ecec5220bc"
                  ]
                }
              },
              "runAfter": {},
              "runtimeConfiguration": {
                "aggregateEmails": false
              }
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs(\u0027Startandwaitforanapproval\u0027)[\u0027body/outcome\u0027]",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Createglossaryterm": {
                  "type": "CreateTerm",
                  "runAfter": {}
                },
                "Sendemailnotification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "GlossaryTermCreate-APPROVED",
                      "emailMessage": "YourrequestforGlossaryTerm@{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]}isapproved.",
                      "emailRecipients": [
                        "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Createglossaryterm": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "secureInput": false,
                    "secureOutput": false,
                    "aggregateEmails": false
                  }
                }
              },
              "else": {
                "actions": {
                  "Sendrejectemailnotification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "GlossaryTermCreate-REJECTED",
                        "emailMessage": "YourrequestforGlossaryTerm@{triggerBody()[\u0027request\u0027][\u0027term\u0027][\u0027name\u0027]}isrejected.",
                        "emailRecipients": [
                          "@{triggerBody()[\u0027request\u0027][\u0027requestor\u0027]}"
                        ]
                      }
                    },
                    "runAfter": {},
                    "runtimeConfiguration": {
                      "secureInput": false,
                      "secureOutput": false,
                      "aggregateEmails": false
                    }
                  }
                }
              },
              "runAfter": {
                "Startandwaitforanapproval": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    }
  ],
  "Variables": {}
}
